<header>
        <ul class="menu">
                <li>
                        <a href="#">PHIM</a>
                        <ul class="submenu">
                                <li><a href="#">Phim đang chiếu</a></li>
                                <li><a href="#">Phim sắp chiếu</a></li>
                        </ul>
                </li>
                <li>
                        <a href="#">RẠP CGV</a>
                        <ul class="submenu">
                                <li><a href="#">Rạp đăc biệt</a></li>
                                <li><a href="#">Rạp đang mở</a></li>
                        </ul>
                </li>
                <li><a href="#">THÀNH VIÊN</a></li>
                <%if(!locals.email){%>
                <li id="dangnhap"><a href="#">ĐĂNG NHẬP</a></li>
                <li id="dangki"><a href="#">ĐĂNG KÍ</a></li>
                <%}else{%>
                        <li id="nguoidung"><a href="#"><%=locals.email%></a></li>
                <%}%>
        </ul>
</header>