<header>
        <ul class="menu">
                <li>
                        <a href="#">PHIM</a>
                        <ul class="submenu">
                                <li><a href="#">Phim đang chiếu</a></li>
                                <li><a href="#">Phim sắp chiếu</a></li>
                        </ul>
                </li>
                <li>
                        <a href="#">RẠP CGV</a>
                        <ul class="submenu">
                                <li><a href="#">Rạp đăc biệt</a></li>
                                <li><a href="#">Rạp đang mở</a></li>
                        </ul>
                </li>
                <li><a href="#">THÀNH VIÊN</a></li>
                <%if(!locals.email){%>
                <li id="dangnhap"><a href="/dangnhap">ĐĂNG NHẬP</a></li>
                <li id="dangki"><a href="/dangki">ĐĂNG KÍ</a></li>
                <%}else{%>
                        <li id="nguoidung">
                                <a href="#"><%=locals.email%></a>
                                <ul class="submenu">
                                        <li><a>Quản lý tài khoản</a></li>
                                        <li><a href="/dangnhap/Logout">Logout</a></li>
                                </ul>
                        </li>
                <%}%>
        </ul>
</header>