<h3>Thêm vào loại rạp</h3>
<form method="POST" action="/quanlyrap/loairap">
    <label for="loairap">Tên loại rạp</label>
    <input type="text" id="loairap" name="loairap"/>
    <button type="submit">LUU</button>
</form>