<h3>Nhập Thành Phố</h3>
<form method="POST" action="/quanlyrap/thanhpho">
    <label>Nhập Tên Thành Phố</label>
    <input type="text" id="thanhpho" name="thanhpho"/>
    <button type="submit">LƯU</button>
</form>
