<h1>Thêm bộ phim mới</h1>
<form method="POST" action="/quanlyrap/themphim">
    <label for="tenphim">Tên Phim</label>
    <input id="tenphim" name="tenphim" type="text"/>
    <label for="ngaychieu">Ngày Chiếu</label>
    <input type="date" id="ngaychieu" name="ngaychieu"/>
    <label for="thoiluong">Thời Lượng</label>
    <input type="text" id="thoiluong" name="thoiluong"/>
    <label for="theloai">Thể Loại</label>
    <input type="text" id="theloai" name="theloai"/>
    <label for="daodien">Đạo Diễn</label>
    <input type="text" id="daodien" name="daodien"/>
    <label for="dienvien">Diễn Viên</label>
    <input type="text" id="dienvien" name="dienvien"/>
    <button type="submit">LUU</button>

</form>