<form action="" method="POST">
    <label for="Email">Nhập Email</label>
    <input id="Email" name="Email" placeholder="Nhập Vào Email" />
    <label for="matkhau">Mật Khẩu</label>
    <input id="matkhau" name="matkhau" placeholder="Nhập Vào Mật Khẩu" />
    <label for="hoten">Họ Tên</label>
    <input id="hoten" name="hoten" placeholder="Nhập vào họ tên" />
    <label id="sodienthoai">Số điện thoại</label>
    <input id="sodienthoai" name="sodienthoai" placeholder="Nhập số điện thoại"/>
   
</form>