<form method="POST" action="/dangnhap" >
    <label for="Email">Nhập Email</label>
    <input id="Email" name="Email" />
    <label for="matkhau">Mật Khẩu</label>
    <input id="matkhau" name="matkhau"/>
    <button type="submit">Đăng Nhập</button>
</form>
<div>
    <a id="google" href="/dangnhap/auth/google">Đăng nhập GOOGLE</a>
    <a id="facebook">Đăng nhập FACEBOOK</a>
</div>